<div class="gallery_product col-4 filter hdpe">

    <ul class="local">
        <li class="name"><%= local._id %></li>
        <li class="name"><%= local.createdAt %></li>
        <li class="name"><%= local.updatedAt %></li>
        <li class="name"><%= local.nombre %></li>
        <li class="name"><%= local.direccion %></li>
        <li class="name"><%= local.estaAbierto %></li>

    </ul>

</div>