<%- include('../base_header'); -%>

<body>

    <h1>Listado Noches</h1>

    <div class="container">

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>title</th>
                    <th>Con Dolor</th>
                    <th>Dia Semana</th>
                    <th>Resaca</th>
                </tr>
            </thead>
            <tbody>
                <% for (var i = 0; i < noches.length; i++) { %>
                    <tr>
                        <td><%= noches[i]._id %></td>
                        <td><%= noches[i].title %></td>
                        <td><%= noches[i].tengoDolor %></td>
                        <td><%= noches[i].dia_semana %></td>
                        <td><%= noches[i].es_resaca %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>

    </div>
</body>
<%- include('../base_footer'); -%>